body {
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-body {
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.todo-title {
    font-weight: bold;
    color: #17565e;
}

.form-control, .form-select {
    border-radius: 8px;
}

.custom-button {
    position: relative;
    background: linear-gradient(90deg, #7ef0ff, #17565e);
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 8px 15px rgba(117, 255, 149, 0.4);
    overflow: hidden;
}

.custom-button:hover {
    background: linear-gradient(90deg, #8eff75, #39fd3d);
    box-shadow: 0 12px 20px rgba(85, 204, 81, 0.6);
    transform: translateY(-3px);
}

.task-completed {
    text-decoration: line-through;
    background-color: rgba(40, 167, 69, 0.2);
    color: #155724;
}

.task-in-progress {
    background-color: rgba(255, 193, 7, 0.2);
    color: #856404;
}

.task-pending {
    background-color: rgba(220, 53, 69, 0.2);
    color: #721c24;
}